/*Fonte nome: Oswald (Designed by Vernon Adams, Kalapi Gajjar, Cyreal) 
https://fonts.google.com/
https://fonts.google.com/specimen/Oswald#standard-styles
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');

/*#################### html, body ####################################################*/

html, body /*Aplica em todo o HTML e BODY os comandos abaixo*/
{
    font-family: Oswald, Arial; /*Define a fonte*/
    color: white;
    width: 100%; /*Altura da página*/
    height: 100%; /*argura da página*/
}

/*###################################################################################*/
body
{
    background-image: url("./img/Foto_Fundo3.jpg"); 
    background-repeat: no-repeat; /*não repdetir a imagem*/
    background-size: cover; /*Imagem ocupar todo o espaço*/
    background-attachment: fixed; /*Fixa a imagem*/
    background-position: center;
    width: 100%;
    height: 100%; /*Independentemente do tamanho da tela a imagem ira ocupar 100%*/
}
/*#################### menu aside header ##############################################*/

/*Configurações do menu aside header*/
#header
{    
    position: fixed; /*Fixa o header a esquerda*/
    top: 0; /*header preso no topo*/
    left: 0; /*header preso na esquerda*/
    bottom: 0; /*header preso em baixo*/
    background: rgb(0, 0, 0); /*Fundo do menu aside header*/
    overflow-y: auto; /*Gera automaticamente o scrol vertical do menu*/
    width: 300px; /*Largura do menu*/
    transition: all ease-in-out 0.5s; /*Transição da ocultação e aparecimento do menu*/
    padding: 0 15px; /*um pequeno espaçamento a esquerda*/
    z-index: 9997; /*Sobreposição sobre qualquer item da tela*/
}

/*Configurações da imagem (Logo_Colorido.png) do menu aside header .profile - seção profile*/
#header .profile img 
{
    margin: 15px auto; 
    display: block;
    width: 200px;    
}

/*Configurações do h1 do menu aside header .profile - seção profile*/
#header .profile h1 
{
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

/*Configurações da DIV dos links do menu aside header .profile - <div class="links-menu"> - seção profile*/
#header .profile .links-menu a
{
    font-size: 24px;    
    color: #fff;
    padding: 0.6rem;
    margin-right: 1rem;
    transform: 0.3s;
    text-decoration: none;
}

/*Configurações ao passar o mouse nos links do menu aside header .profile - <div class="links-menu"> - seção profile*/
#header .profile .links-menu a:hover
{
    color: rgb(97, 97, 97);
}

/*Chama a Classe nav-bar*/
.nav-bar
{
    padding: 1.5rem; /*um pequeno espaçamento a esquerda*/
}

/*Configurações dos textos dos links do nav-bar - sem ou com foco*/
.nav-bar a, .nav-bar a:focus
{
    display: flex;
    align-items: center;
    color: rgb(194, 194, 194);
    transition: 0.3s; /*Quando passar o mouse*/
    font-size: 15px;
}

/*Configurações dos icones dos links do nav-bar - sem ou com foco*/
.nav-bar a i, .nav-bar a:focus i
{
    font-size: 20px;
    padding-right: 0.8rem;
    color: #fff;
}

/*Configurações do hover nos textos do nav-bar  */
.nav-bar a:hover, .nav-bar .active, .nav-bar .active:focus, .nav-bar li:hover > a
{
    text-decoration: none;
    color: #fff;
}

/*Configurações do hover nos icones dos textos do nav-bar*/
.nav-bar a:hover i, .nav-bar .active i, .nav-bar .active:focus i, .nav-bar li:hover > a i
{
    color: rgb(255, 100, 4);
}

/*###################################################################################*/

/*############################  main  ################################################*/

/*Configurações da main*/
#main
{
    margin-left: 300px; /*Margem do mais conforme o aside header*/
}

/*Chama a section id="principal" para aplicar as configurações*/
section#principal 
{
    background-image: url("./img/Foto_Fundo3.jpg"); 
    background-repeat: no-repeat; /*não repdetir a imagem*/
    background-size: cover; /*Imagem ocupar todo o espaço*/
    background-attachment: fixed; /*Fixa a imagem*/
    background-position: center;
    width: 100%;
    height: 100vh; /*Independentemente do tamanho da tela a imagem ira ocupar 100%*/
}

/*Configurações do h2 da section principal do main - DIV Texto*/
section#principal h2
{
    font-size: 23px;
    color: rgb(243, 177, 0, 1);
    text-shadow:3px 4px 2px rgb(3, 3, 3);
}

section#principal div#arraste {
    width: 9rem;        
}
  
section#principal div#arraste a {
    text-decoration: none;
    color: rgb(230, 230, 230);
}

/*Chama a section id="cardapio" para aplicar as configurações*/
section#cardapio
{
    background-image: url("./img/Foto_Fundo3.jpg"); 
    background-repeat: no-repeat; /*não repdetir a imagem*/
    background-size: cover; /*Imagem ocupar todo o espaço*/
    background-attachment: fixed; /*Fixa a imagem*/
    background-position: center;
    width: 100%;
    height: 100vh; /*Independentemente do tamanho da tela a imagem ira ocupar 100%*/
}

/*###################################################################################*/

/*######################### Botão menu-mobile #######################################*/

/*Configurações do botão class= menu-mobile para ocultar/aparecer Menu bar */
i.menu-mobile 
{
    position: fixed;
    color: #fff;
    background-color: rgb(3, 3, 3);
    right: 1rem; /*Pequeno espaçamento para não colar o botão em a direita*/
    top: 1rem; /*Pequeno espaçamento para não colar o botão em cima*/
    font-size: 1.5rem;
    border-radius: 4rem; /*Arrendoindar o backgroud do botão*/
    cursor: pointer; /*Icone de mão quando o mouse estiver seobre o botão*/
    z-index: 10; /*Sobreposição sobre qualquer item da tela*/
    width: 45px;
    height: 45px;
    display: none; /*Ocultar o botão*/ 
    justify-content: center;
    align-items: center;
}

/*Quando o menu estiver ativo no mobile o scroll é removido*/
/*Só é possivel navegar na pagina com o menu bar fechado*/
.menu-nav-active /*Classe nova a ser manipulada por JS script.js = body.classList.toggle("menu-nav-active")*/
{
    overflow: hidden;
}

/*Volta na posição atual*/
.menu-nav-active #header
{
    left: 0;
}

/*A partir de determinado tamanho o botão menu-mobile aparece e o menu aside header desaparece */
/*notation @media = Prodprieda do CSS*/
/*if largura da tela < 1024 then*/
@media (max-width: 1024px)
{
    /*Menu desaparece*/
    #header
    {
        left: -300px;
    }

    /*Botão menu_mobile aparece*/
    i.menu-mobile 
    {
        display: flex; /*Mostrar o botão*/ 
    }

    /*Configurações do h2 da section principal do main - DIV Texto*/
    /*Diminuir um pouco o texto h2*/
    section#principal h2
    {
        font-size: 15px;
    }

    /*Configurações da main*/
    /*Ajustar a main em toda a pagina após a ocultação do menu*/
    #main
    {
        margin-left: 0px; 
    }
}
/*###################################################################################*/

/*################  Configurações Scroll Bar  ########################################*/

*::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    width: 12px;
    box-shadow: inset 0 0 .3rem #00000050;
    background-color: #fff ;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #494949;
  }

  /*###################################################################################*/

  /*########### Configurações lista temporária dos pessoas ###########################*/

.lista-cli {
    background: #333131;
    opacity: 0.85;    
}  

 /*###################################################################################*/

.form-group {
    animation: go-back 1s
}

/*########### Animação go-back ###########################*/

@keyframes go-back {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  } 

/*########### Tamanho Objetos ###########################*/

.pequeno {
    width: 20%;
}

.medio {
    width: 30%;    
    height: 30%;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.grande {
    width: 80%;
}

/*########### Maps ###########################*/

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


/*###################################################################################*/

/*########### Configurações dos formulários da página de pagamentos #################*/

.pagamento {
    background: linear-gradient(90deg, rgb(141, 189, 130) 0%, rgb(105, 105, 155) 75%, rgb(43, 104, 213) 100%);
    opacity: 0.8;
}

.opcoes {
    opacity: 1.0;
    color: #ffffff;
    text-shadow: 3px 4px 2px #000;
}

.h2 {
    font-size: 1.2rem;
}

/*########### Reponsividade Imagem Cardápio ###########################*/

#container-da-imagem {
    width: 200px;
    position: relative;
}
#container-da-imagem img {
    width: 100%
}
img {
    width: 100%
}

h1 {
    color: #ffffff;
}

tr.hover{
    background-color: #363333;
}

td {
    color: #ffffff;
    text-align: left;
    padding: 1px;
    border-bottom-width: 1px;
    background-color: #1d1717;
    
    
}

tr.even {
    background-color: #363333;
    
}

table#cabeçalho{
    border: 1px solid #606060;
}

table#cabeçalho th, td{
    border: 1px solid #606060;
}

tr{
    background-color: #363333;
    opacity: 0.85;

}

th {
    color: #ffffff;
    padding: 1px;
    text-transform: uppercase;
    letter-spacing: 0.0em;
    font-size: 80%;
    border-bottom: 1px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
    border: 1px solid #606060;
}

p {
    color: #ffffff;
}