{% extends 'layouts.html' %}

{% block content %}

    <h1>Falta pouco para finalizar seu pedido!</h1>

    <p>Para finalizar seu pedido, por favor indique o endereço de entrega e escolha uma forma de pagamento.</p>

    <section name="Resumo do pedido" id="resumo_pedido">

    <h2>Valor do pedido</h2>
    <p>Valor total: R$ {{ carrinho_valor_total }}</p>

    <h2>Items do pedido</h2>

        <table class="table">
            <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço unitário</th>
            </tr>
            </thead>
            <tbody>
            {% for produto in carrinho %} <!--For percorre toda tabela-->
                <tr>
                    <td>{{ produto['nome'] }}</td>
                    <td>{{ produto['quantidade'] }}</td>
                    <td>R$ {{ produto['valor'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </section>

    <section name="Pagamento">
    <div class="form-check pagamento" name="Opcoes de pagamento">
        <form name="forma_de_pagamento" id="forma_de_pagamento" class="form-control-lg opcoes">
            <div class="form-check">
            <input class="form-check-input" type="radio" id="cartao_credito" name="opcoes_pagamento" value="Cartão de crédito" onclick="gera_formulario_para_insercao_de_dados_de_cartao()">
            <label class="col-form-label-lg form-check-label" for="cartao_credito">Cartão de crédito</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="radio" id="cartao_debito" name="opcoes_pagamento" value="Cartão de débito" onclick="gera_formulario_para_insercao_de_dados_de_cartao()">
            <label class="col-form-label-lg form-check-label" for="cartao_debito">Cartão de Débito</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="radio" id="boleto" name="opcoes_pagamento" value="Boleto" onclick="gera_formulario_para_insercao_de_dados_de_cartao()">
            <label class="col-form-label-lg form-check-label" for="boleto">Boleto</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="radio" id="pix" name="opcoes_pagamento" value="Pix" onclick="gera_formulario_para_insercao_de_dados_de_cartao()">
            <label class="col-form-label-lg form-check-label" for="pix">Pix</label>
            </div>
            <button type="submit" id="envia_opcao_de_pagamento_escolhida" name="envia_opcao_de_pagamento_escolhida">
            <label for="envia_opcao_de_pagamento_escolhida">Submeter opção de pagamento</label>
        </form>
    </div>
    <div name="detalhes_cartao" id="detalhes_cartao"></div>
    </section>

{% endblock %}
