{% extends "layouts.html" %}

{% block content %}

<h1>Histórico de pedidos</h1>

    {% for pedido in lista_pedidos %}
    <div>
        <table>
        <tr>
            <th>Pedido</th>
            <th>Data</th>
            <th>Pagamento</th>
            <th>Situação</th>
            <th>Itens</th>
            <th>Valor total</th>
        </tr>
        <tr>
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.data }}</td>
            <td>{{ pedido.status_pagamento }}</td>
            <td>{{ pedido.status }}</td>
            <td>{{ pedido.produtos }}</td>
            <td>{{ pedido.valor }}</td>
        </tr>
        </table>
    </div>


    {% endfor %}



    </form>


{% endblock content %}