{% extends "layouts.html" %}

{% block content %}

<section name=""> </section>

    <section name="Informacoes do pedido">
        <h2 class="h2"> Resumo do pedido </h2>
        <table>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço unitário</th>
                <th>Preço</th>
            </tr>
            <tr>
                <td></td>
                <td>
                </td>
            </tr>
        </table>
    </section>

    <form action="/processa_pagamento" method="post">

    </form>


{% endblock content %}