{% extends "layouts.html" %}   

{% block content %}  

  <!--DIV texto-->
  <!--5 cinco Colunas para englobar o texto-->
  <!--d-flex justify-content-center align-items-center... = Comandos do bootstrap-->
  <div class="form-group col-md-5 d-flex justify-content-between align-items-baseline flex-column">                
      <h2>Atendimento de Segunda à Domingo das 18h00 às 23h00</h2>                 
  </div> 

  <!--#### From Login ######################################-->  
  <!--https://getbootstrap.com.br/docs/4.1/components/forms/-->        
  <form method="POST" enctype="multipart/form-data">
      <div class="form-group col-md-6">
          <h1><font color="#ffffff">Olá, faça seu login</font></h1>
          <h4><font color="#ffffff">ou cadastre-se</font></h4>
      </div>
      <div class="form-group col-md-6">
        <label for="exampleInputEmail1"><font color="#ffffff">E-mail</font></label>
        <input type="text" name="email" id="email" placeholder="E-mail" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label for="exampleInputEmail1"><font color="#ffffff">Senha</font></label>
        <input type="password" name="senha" id="senha" placeholder="Senha" class="form-control">
      </div> 
      <br>
      <input type="submit" value="Login" class="form-group btn btn-success">          
      <a class="form-group btn btn-primary" href="/registrocliente">Cadastrar</a>                  
  </form>
    <!--#### FIM From Login ######################################-->          

{% endblock content %}