{% extends "layouts.html" %}   

{% block content %}

    <!--DIV texto-->
    <!--5 cinco Colunas para englobar o texto-->
    <!--d-flex justify-content-center align-items-center... = Comandos do bootstrap-->
    <div class="form-group col-md-5 d-flex justify-content-between align-items-baseline flex-column">                
        <h2>Atendimento de Segunda à Domingo das 18h00 às 23h00</h2>                 
    </div>       
        
    <!--#################  form ADD Cliente ################-->  
    <!--nome, email, telefone, rg, cpf, endereço, senha-->     
                                     
    <!--https://flask.palletsprojects.com/en/2.0.x/patterns/wtforms/ - Forms in Templates-->
    <div>
        
        <form method="POST" enctype="multipart/form-data" >
            <div class="form-group col-md-10">
                <h1><font color="#ffffff">Novo Cadastro</font></h1>
                
                <div class="form-group col-md-6" >
                    <label for="exampleInputEmail1"><font color="#ffffff">Nome</font></label>
                    <input type="text" name="nome" id="nome" placeholder="Nome" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1"><font color="#ffffff">E-mail</font></label>
                    <input type="text" name="email" id="email" placeholder="E-mail" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1"><font color="#ffffff">RG</font></label>
                    <input type="text" name="rg" id="rg" placeholder="RG" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1"><font color="#ffffff">CPF</font></label>
                    <input type="text" name="cpf" id="cpf" placeholder="CPF" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1"><font color="#ffffff">Endereço</font></label>
                    <input type="text" name="endereco" id="tipo" placeholder="Endereco" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1"><font color="#ffffff">Senha</font></label>
                    <input type="password" name="senha" id="senha" placeholder="Senha" class="form-control">
                </div> 
            </div>
            <br>
            <a class="form-group btn btn-primary" href="/">Voltar</a>      
            <input type=submit value="Registrar" class="form-group btn btn-success">
        </form>
    </div>

    <!--################# FIM form ADD Cliente ################--> 


{% endblock content %}