{% extends "layouts.html" %}   

{% block content %}
        
            <!--DIV texto-->
            <!--5 cinco Colunas para englobar o texto-->
            <!--d-flex justify-content-center align-items-center... = Comandos do bootstrap-->
            <div class="form-group col-md-5 d-flex justify-content-between align-items-baseline flex-column">                
                <h2>Atendimento de Segunda à Domingo das 18h00 às 23h00</h2>                 
            </div> 

            <!--#### From Login ######################################-->
            <!--https://getbootstrap.com.br/docs/4.1/components/forms/-->        
            <form>
                <div class="form-group col-md-6">
                    <h1><font color="#ffffff">Olá, faça seu login</font></h1>
                    <h4><font color="#ffffff">ou cadastre-se</font></h4>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1"><font color="#ffffff">Endereço de email</font></label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
                  <small id="emailHelp" class="form-text text-muted"><font color="#ffffff">Nunca vamos compartilhar seu email, com ninguém.</font></small>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputPassword1"><font color="#ffffff">Senha</font></label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                </div>
                <div class="form-group form-check col-md-6">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1"><font color="#ffffff">Clique em mim</font></label>
                </div>
                <button type="submit" class="form-group btn btn-primary">Entrar</button>           
                <a class="form-group btn btn-primary" href="/addcliente">Cadastrar</a>                  
            </form>
             <!--#### FIM From Login ######################################-->            

            <div class="form-group col-md-7 d-flex justify-content-end align-items-end">                
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-person-circle text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#minhaconta">Login</a>
                </div>

                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#cardapio">Arraste para mais</a>
                </div>
            </div>  
 

{% endblock content %}