{% extends "layoutsadmlog.html" %}

{% block content %}

    <!--DIV texto-->
    <!--5 cinco Colunas para englobar o texto-->
    <!--d-flex justify-content-center align-items-center... = Comandos do bootstrap-->
    <div class="form-group col-md-5 d-flex justify-content-between align-items-baseline flex-column">
        <h2>Gerenciamento do cardápio</h2>
    </div>

    <div class="form-group col-md-10">

        <h1><font color="#ffffff">Adicionar produto no estoque</font></h1>

        <form method="POST" enctype="multipart/form-data" >

            {{ form.hidden_tag() }}

            <div name="dados_principais" class="form-group col-md-6">

                {{ form.produto_nome.label }}
                {{ form.produto_nome(placeholder="Nome", class="form-control") }}
                {% for erro in form.produto_nome.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
                {{ form.quantidade.label }}
                {{ form.quantidade(placeholder="Quantidade", class="form-control") }}
                {% for erro in form.quantidade.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
                {{ form.submit }}

            </div>
        </form>
    </div>

{% endblock content %}
