{% extends "layoutsadmlog.html" %}

{% block content %}

    <h1>Lista de insumos por fornecedor</h1>

    {% for relacao in lista_insumos_por_fornecedor %}

        <div>
            <table width="500" cellpadding="1" cellspacing="5"> 
                <tr>
                    <th>Fornecedor</th>
                </tr>
                <tr>
                    <td>{{ relacao[0] }}</td>
                </tr>
            </table>
        </div>
        <div>
            <table width="500" cellpadding="1" cellspacing="5">
                <tr>
                    <th>Insumo</th>
                    <th>Valor</th>
                </tr>
                {% for insumo in relacao[1] %}
                    <tr>
                        <td>{{ insumo[0] }}</td>
                        <td>{{ insumo[1] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% endfor %}

{% endblock content %}
