{% extends "layoutsadmlog.html" %}

{% block content %}

    <!--DIV texto-->
    <!--5 cinco Colunas para englobar o texto-->
    <!--d-flex justify-content-center align-items-center... = Comandos do bootstrap-->
    <div class="form-group col-md-5 d-flex justify-content-between align-items-baseline flex-column">
        <h2>Atendimento de Segunda à Domingo das 18h00 às 23h00</h2>
    </div>

    <div class="form-group col-md-10">

        <h1><font color="#ffffff">Novo cadastro de colaborador</font></h1>

        <form method="POST" enctype="multipart/form-data" >

            {{ form.hidden_tag() }}

            <div name="dados_principais" class="form-group col-md-6">

                {{ form.nome.label }}
                {{ form.nome(placeholder="Nome", class="form-control") }}
                {% for erro in form.nome.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
                {{ form.email.label }}
                {{ form.email(placeholder="E-mail", class="form-control") }}
                {% for erro in form.email.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
                {{ form.rg.label }}
                {{ form.rg(placeholder="RG", class="form-control") }}
                {% for erro in form.rg.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
                {{ form.cpf.label }}
                {{ form.cpf(placeholder="CPF", class="form-control") }}
                {% for erro in form.cpf.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
                {{ form.tipo.label }}
                {{ form.tipo(placeholder="Tipo", class="form-control") }}
                {% for erro in form.tipo.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
                {{ form.senha.label }}
                {{ form.senha(placeholder="Senha", class="form-control") }}
                {% for erro in form.senha.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}

            </div>

            <div name="endereco">

                {{ form.rua.label }}
                {{ form.rua(placeholder="Rua", class="form-control") }}
                {% for erro in form.rua.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
                {{ form.bairro.label }}
                {{ form.bairro(placeholder="Bairro", class="form-control") }}
                {% for erro in form.bairro.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
                {{ form.numero.label }}
                {{ form.numero(placeholder="Numero", class="form-control") }}
                {% for erro in form.numero.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
                {{ form.complemento.label }}
                {{ form.complemento(placeholder="Complemento", class="form-control") }}
                {% for erro in form.complemento.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
                {{ form.cidade.label }}
                {{ form.cidade(placeholder="Cidade", class="form-control") }}
                {% for erro in form.cidade.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
                {{ form.estado.label }}
                {{ form.estado(placeholder="Estado", class="form-control") }}
                {% for erro in form.estado.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
                {{ form.pais.label }}
                {{ form.pais(placeholder="País", class="form-control") }}
                {% for erro in form.pais.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
                {{ form.cep.label }}
                {{ form.cep(placeholder="Cep", class="form-control") }}
                {% for erro in form.cep.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
                {{ form.submit(class="form-group btn btn-success") }}
            </div>
            <br>
        </form>
    </div>

    <!--################# FIM form ADD Cliente ################-->
{% endblock content %}
