{% extends "layouts.html" %}   

{% block content %}
    {% if pedido_pagamento %}

        <h1>Obrigado, agora é só aguardar o processamento de seu pagamento. </h1>
        <h3>Você poderá acompanhar seu pedido <a href="/pedido">aqui</a>.</h3>
        <section name="Informacoes do pedido" class="col-auto">
            <h2 class="h2"> Resumo do pedido </h2>
            <table>
                <tr>
                    <th>Pedido</th>
                    <th>Data</th>
                    <th>Pagamento</th>
                    <th>Situação</th>
                    <th>Itens</th>
                    <th>Valores unitários</th>
                    <th>Valor total</th>
                </tr>
                <tr>
                    <td>{{ pedido_pagamento.id }}</td>
                    <td>{{ pedido_pagamento.data }}</td>
                    <td>{{ pedido_pagamento.status_pagamento }}</td>
                    <td>{{ pedido_pagamento.status }}</td>
                    <td>
                    {% for produto in pedido_pagamento.produtos %}
                        <p>{{ produto.nome }}</p>
                    {% endfor %}
                    </td>
                    <td>
                        {% for produto in pedido_pagamento.produtos %}
                            <p>R$ {{ produto.valor }}</p>
                        {% endfor %}
                    </td>
{#                    <td>#}
{#                        {% for produto in pedido.produtos %}#}
{#                            <p>R$ {{ produto.quantidade }}</p>#}
{#                        {% endfor %}#}
{#                    </td>#}
                    <td>{{ pedido_pagamento.valor }}</td>
                </tr>
            </table>
        </section>

    {% endif %}

    {% if pedido_consulta %}

        <section name="Informacoes do pedido" class="col-auto">
            <h2 class="h2"> Resumo do pedido </h2>
            <table>
                <tr>
                    <th>Pedido</th>
                    <th>Data</th>
                    <th>Pagamento</th>
                    <th>Situação</th>
                    <th>Itens</th>
                    <th>Valores unitários</th>
                    <th>Valor total</th>
                </tr>
                <tr>
                    <td>{{ pedido_consulta.id }}</td>
                    <td>{{ pedido_consulta.data }}</td>
                    <td>{{ pedido_consulta.status_pagamento }}</td>
                    <td>{{ pedido_consulta.status }}</td>
                    <td>
                        {% for produto in pedido_consulta.produtos %}
                            <p>{{ produto.nome }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for produto in pedido_consulta.produtos %}
                            <p>R$ {{ produto.valor }}</p>
                        {% endfor %}
                    </td>
                    {#                    <td>#}
                    {#                        {% for produto in pedido.produtos %}#}
                    {#                            <p>R$ {{ produto.quantidade }}</p>#}
                    {#                        {% endfor %}#}
                    {#                    </td>#}
                    <td>{{ pedido_consulta.valor }}</td>
                </tr>
            </table>
        </section>

    {% endif %}

{% endblock content %}