{% extends "layouts.html" %}   

{% block content %}

    <!--DIV texto-->
    <!--5 cinco Colunas para englobar o texto-->
    <!--d-flex justify-content-center align-items-center... = Comandos do bootstrap-->
    <div class="form-group col-md-5 d-flex justify-content-between align-items-baseline flex-column">                
        <h2>Atendimento de Segunda à Domingo das 18h00 às 23h00</h2>                 
    </div>       
        
    <!--#################   from ADD Cliente ################-->  
    <!--nome, login, rg, cpf, tipo, senha-->             
                                    
    <!--https://flask.palletsprojects.com/en/2.0.x/patterns/wtforms/ - Forms in Templates-->
    <div>
        {% from "_formhelpers.html" import render_field %}
        <form class="form-group" method=POST enctype="multipart/form-data" >
            <div>
                {{ render_field(form.nome, class="col-md-6") }}
                {{ render_field(form.login, class="col-md-6") }}
                {{ render_field(form.rg, class="col-md-6") }}
                {{ render_field(form.cpf, class="col-md-6") }}
                {{ render_field(form.tipo, class="col-md-6") }}
                {{ render_field(form.senha, class="col-md-6") }}              
            </div>
            <p><input type=submit value=Resgistrar class="btn btn-success"></p>
        </form>
    </div>


    <!--################# FIM from ADD Cliente ################--> 


{% endblock content %}