{% extends "layouts.html" %}   

{% block content %}  

    <!--DIV texto-->
    <!--5 cinco Colunas para englobar o texto-->
    <!--d-flex justify-content-center align-items-center... = Comandos do bootstrap-->
    <div class="form-group col-md-5 d-flex justify-content-between align-items-baseline flex-column">                
        <h2>Atendimento de Segunda à Domingo das 18h00 às 23h00 - Av. Rudge, 315 - Bom Retiro, São Paulo - SP, 01133-000</h2>                         
    </div>    

{% endblock content %}